django
djangorestframework
djangorestframework-simplejwt
python-dotenv
django-filter
django-silk
django-extensions
django-debug-toolbar
channels==4.1.0
channels_redis==4.2.0
redis==4.6.0
uvicorn[standard]
daphne
requests
psycopg[binary]